@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Code+Latin:wght@100..700&display=swap');

:root {
  --brand-font: 'M PLUS Code Latin', sans-serif;
  --brnad-font-size: 1.6rem;
  --brand-color-dark: #2b8a3e;
  --brand-color-light: #37b24d;
  --brand-font-color: #495057;
  --brand-light-gray: #dee2e6;
  --brand-default-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* reset default font size to 10px */
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: var(--brand-font);
  color: var(--brand-font-color);
}

/* ---- GENERAL REUSABLE ---- */
.heading-primary {
  font-size: 6rem;
  letter-spacing: 2px;
  text-shadow: var(--brand-default-shadow);
}

.btn:link, .btn:visited {
  display: inline-block;
  color: var(--brand-light-gray);
  background-color: var(--brand-color-dark);
  text-decoration: none;
  font-size: var(--brnad-font-size);
  font-weight: 600;
  letter-spacing: 1px;
  padding: 1rem 2rem;
  border-radius: 5px;
  transition: all .2s;
}

.btn:hover, .btn:active {
  background-color: var(--brand-color-light);
  transform: translateY(-3px);
  box-shadow: var(--brand-default-shadow);
}

.btn-cv:link, .btn-cv:visited {
  margin-left: 2rem;
  background-color: transparent;
  color: var(--brand-font-color);
  letter-spacing: 1px;
  box-shadow: inset 0 0 0 3px var(--brand-light-gray);
}

.btn-cv:hover, .btn-cv:active {
  color: var(--brand-light-gray);
  background-color: var(--brand-color-light);
  box-shadow: 0 0 0 0;
}

.icon {
  width: 2.4rem;
  fill: var(--brand-color-light);
}

/* ---- HEADER ---- */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 96%;
  height: 5rem;
  padding: 0 2rem;
  position: fixed;
  /* background-color: var(--brand-color-dark); */
  border: solid 1rem transparent;
  border-radius: 1rem;
  margin: 1rem 2% 0 2%;
  transition: all 1s;
}

.scrolled {
  background-color: var(--brand-color-light);
  opacity: 0.95;
  box-shadow: var(--brand-default-shadow);
}

.nav-on-scroll:link, .nav-on-scroll:visited {
  color: var(--brand-light-gray) !important;
}

.nav-on-scroll:hover, .nav-on-scroll:active {
  color: var(--brand-font-color) !important;
}

.logo {
  width: 4rem;
  height: 4rem;
  fill: var(--brand-font-color);
}

.main-nav-list {
  list-style: none;
  display: flex;
  gap: 3.2rem;
}

.nav-link:link, .nav-link:visited {
  text-decoration: none;
  color: var(--brand-font-color);
  font-size: var(--brnad-font-size);
  letter-spacing: 1px;
  font-weight: 500;
  padding: 0.4rem 0.8rem;
  border-radius: 0.4rem;
}

.nav-link:hover, .nav-link:active {
  color: var(--brand-color-light);
  transition: all .2s;
}

/* ---- HERO ---- */
.section-hero {
  background-image: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)), url('../images/hero-background.jpg');
  background-size: cover;
  box-shadow: inset 0 0 5rem rgba(255, 255, 255, 255);
  background-blend-mode: overlay;
  padding: 12rem 0 6rem 0;
  margin-bottom: 6rem;
}

.hero {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
  align-items: center;
  justify-items: center;
}

.hero-txt-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-items: center;
  gap: 20rem;
}

.hero-txt-box p {
  font-size: 1.6rem;
  font-weight: 500;
  text-align: center;
}

.designation-span {
  color: var(--brand-color-dark);
  font-style: italic;
}

.hero-img-box {
  max-width: 100%;
  text-align: center;
}

.hero-img {
  max-width: 70%;
  border-radius: 50%;
  box-shadow: var(--brand-default-shadow);
}

.summary {
  max-width: 100rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin: 0 auto 6rem;
  padding: 4rem;
  font-size: var(--brnad-font-size);
  line-height: 2;
}

/* .quote {
  width: 3rem;
  height: 3rem;
  transform: rotate(190deg);
  filter: invert(28%) sepia(8%) saturate(683%) hue-rotate(169deg) brightness(97%) contrast(87%);
} */
/* ---- CAREER SECTION ---- */
.career {
  max-width: 100rem;
  margin: 0 auto;
  display: flex;
  margin-bottom: 6rem;
  align-items: flex-start;
}

.heading-box {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.heading-secondary {
  font-size: var(--brnad-font-size);
  font-weight: 500;
  letter-spacing: 2px;
}

.company-logos {
  max-width: 70%;
  height: 4rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  align-items: center;
  gap: 4rem;
  row-gap: 0;
}

.underline {
  display: flex;
  flex-direction: column;
  align-self: start;
  padding: 2px;
  background-color: var(--brand-color-dark);
}

.company-logos img {
  width: 7rem;
  padding: .2rem;
  filter: grayscale(100%);
  transition: all .2s;
}

.company-logos img:hover {
  filter: grayscale(0%) drop-shadow(var(--brand-default-shadow));
  cursor: pointer;
}

.company-rnr {
  display: inline-block;
}