@import url('general.css');

/* ---- HEADER ---- */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 96%;
  height: 5rem;
  position: fixed;
  border: solid 1rem transparent;
  border-radius: .5rem;
  margin: 1rem 2% 0 2%;
  padding: 0 2rem;
  transition: all 1s;
}

.scrolled {
  background-color: var(--brand-color-medium);
  opacity: 0.95;
  box-shadow: var(--brand-default-shadow);
}

.nav-on-scroll:link, .nav-on-scroll:visited {
  color: var(--brand-light-gray) !important;
}

.nav-on-scroll:hover, .nav-on-scroll:active {
  color: var(--brand-font-color) !important;
}

.logo {
  width: 4rem;
  height: 4rem;
  fill: var(--brand-font-color);
}

.main-nav-list {
  list-style: none;
  display: flex;
  gap: 3.2rem;
}

.nav-link:link, .nav-link:visited {
  text-decoration: none;
  color: var(--brand-font-color);
  font-size: var(--brnad-font-size);
  letter-spacing: 1px;
  font-weight: 500;
  padding: 0.4rem 0.8rem;
  border-radius: 0.4rem;
}

.nav-link:hover, .nav-link:active {
  color: var(--brand-color-medium);
  transition: all .2s;
}

/* ---- HERO ---- */
.section-hero {
  background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url('../images/hero-background.jpg');
  background-size: cover;
  box-shadow: inset 0 0 5rem rgba(255, 255, 255, 255);
  /* background-blend-mode: overlay; */
  padding: 12rem 0 10rem 0;
  margin-bottom: 4rem;
}

.hero {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
  align-items: center;
  justify-items: center;
}

.hero-txt-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-items: center;
  gap: 20rem;
}

.hero-txt-box p {
  font-size: 1.6rem;
  font-weight: 500;
  text-align: center;
}

.designation-span {
  color: var(--brand-color-dark);
  font-style: italic;
}

.hero-img-box {
  max-width: 100%;
  text-align: center;
}

.hero-img {
  max-width: 70%;
  border-radius: 50%;
  box-shadow: var(--brand-default-shadow);
}

.summary {
  max-width: 100rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin: 0 auto;
  padding: 4rem;
  font-size: var(--brnad-font-size);
  line-height: 2;
}

/* ---- STRENGTH ---- */
.highlights {
  max-width: 80%;
  margin: 0rem auto;
  padding: 0 2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  column-gap: 2rem;
  row-gap: 4rem;
  list-style: circle;
  font-size: 1.6rem;
  color: var(--brand-color-medium);
}

/* ---- CAREER ---- */
.experience-accordion {
  max-width: 80%;
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  flex-direction: column;
}

.company {
  max-width: 100%;
  margin: 0 auto;
  padding: 2rem;
}

.company-logos {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 6rem;
  align-items: end;
}

.company-logos img {
  height: 3rem;
  padding: .2rem;
  /* filter: grayscale(100%); */
  transition: all .2s;
}

.company-logos div:last-child img {
  height: 2.4rem;
}

.company-logos div:first-child div {
  background-color: var(--brand-color-light);
  font-weight: 500;
  transform: translateY(1rem);
}

.company-logos img:hover {
  /* filter: grayscale(0%); */
  cursor: pointer;
}

.underline {
  width: 120px;
  margin-top: .5rem;
  padding: .1px 0.5rem;
  background-color: var(--brand-light-medium-gray);
}

.company-rnr {
  padding: 2rem;
  font-size: var(--brnad-font-size);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  line-height: 2rem;
}