* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dark-gray: #495057;
  --medium-gray: #868e96;
  --light-gray: #ced4da;
  --black: #000000;
  --white: #ffffff;
  --background-color: #e3fafc;
  --body-font: 'Bree Serif', serif;
  --other-font: 'Inter', sans-serif;
}

body {
  margin-top: 4rem;
  font-family: var(--body-font);
  color: var(--dark-gray);
}

.container {
  width: 70%;
  margin: 0 auto;
}

header {
  margin-bottom: 6rem;
}

header p {
  font-size: 0.8rem;
  font-weight: 500;
}

header a {
  text-decoration: none;
  color: var(--medium-gray);
}

h1 {
  font-size: 1.8rem;
  text-shadow: 1px 1px 2px var(--dark-gray);
}

.phone-email {
  margin-top: 0.5rem;
  color: var(--medium-gray);
  text-decoration: none;
}

.title-header {
  display: flex;
  justify-content: start;
}

.title {
  margin-left: 3rem;
}

.profile_photo {
  width: 8rem;
  height: auto;
  border-radius: 50%;
  filter: drop-shadow(0 0 0.40rem var(--dark-gray));
}

.summary {
  width: 90%;
  margin: 0 auto;
  line-height: 1.6;
}

.summary p {
  margin-bottom: 1.2rem;
}