* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dark-gray: #495057;
  --medium-gray: #868e96;
  --light-gray: #ced4da;
  --light-theme: #e6fcf5;
  --dark-theme: #087f5b;
  --black: #000000;
  --white: #ffffff;
  --background-color: #e3fafc;
  --body-font: 'Bree Serif', serif;
  --other-font: 'Inter', sans-serif;
}

body {
  font-family: var(--body-font);
  color: var(--dark-gray);
}

.container {
  width: 70%;
  margin: 4rem auto 0 auto;
}

.icon {
  width: 32px;
  height: 32px;
  fill: var(--dark-gray);
  transform: skewX(-10deg);
  rotate: 180deg;
}

header {
  margin-bottom: 5rem;
}

header p {
  font-size: 0.8rem;
  font-weight: 500;
}

header a {
  text-decoration: none;
  color: var(--medium-gray);
}

h1 {
  font-size: 2rem;
}

.name {
  color: var(--dark-theme);
}

.phone-email {
  color: var(--medium-gray);
  text-decoration: none;
}

.title-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.title {
  height: 7rem;
  margin-left: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.profile_photo {
  width: 7rem;
  height: auto;
  border-radius: 50%;
  filter: drop-shadow(0 0 0.40rem var(--dark-gray));
}

.summary {
  width: 90%;
  margin: 0 auto;
  line-height: 1.6;
}

.summary p {
  margin-bottom: 1.2rem;
}

.summary p:last-child {
  margin-bottom: 0;
}